In [13]:
import mysql.connector as con
db = con.connect(host= "localhost", user = "root" ,passwd= "", database= "essential")
cur = db.cursor()
cur.execute("select * from student")
print("Old table:- ")
for i in cur:
    print(i)
    
cur.execute("UPDATE student SET mark= 100 WHERE sname='priyanshu'")

cur.execute("select * from student")

print("Updated new table:-")
for i in cur:
    print(i)
cur.close()
db.commit()

Old table:-
(101, 'priyanshu', 80)
(102, 'ravi', 99)
Updated new table:-
(101, 'priyanshu', 100)
(102, 'ravi', 99)